/* ========== GENERAL SETTING ========== */
html {scroll-behavior: smooth;}  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {font-family: 'Roboto', sans-serif; color: #111827;}
h1 {font-weight: 600;font-size: 3.5vw; margin: 0;}
h2 {font-weight: 500;font-size: 2.5vw; margin: 0;}
h3 {font-weight: 500;font-size: 2vw; margin: 0;}
h4 {font-weight: 500;font-size: 1.5vw; margin: 0;}
p,a {font-weight: 400;font-size: 1.25vw; margin: 0;}
ul {margin-left: 2.5vw;}

.custom-button-container {
    display: flex;
    gap: 1vw;
}
.custom-button {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    border: 2px solid #3B82F6;
    background-color: #3B82F6;
    color: #fff;
    padding: 0.5vw 1vw;
    transition: 0.2s;
}
.custom-button-outline {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    border: 2px solid #3B82F6;
    background-color: transparent;
    color: #3B82F6;
    padding: 0.5vw 1vw;
    transition: 0.2s;
}
.custom-button:hover {
    background-color: #1f6ff0; /* Biru lebih gelap */
}
.custom-button-outline:hover {
    background-color: #3B82F6;
    color: white;
}

.fade-down {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeDown 0.5s ease-out forwards;
    animation-delay: var(--delay, 0s);
}
.fade-left {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeLeft 0.5s ease-out forwards;
    animation-delay: var(--delay, 0s);
} 
.fade-right {
    opacity: 0;
    transform: translateX(20px);
    animation: fadeRight 0.5s ease-out forwards;
    animation-delay: var(--delay, 0s);
}
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.5s ease-out forwards;
    animation-delay: var(--delay, 0s);
}
@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes fadeRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease;
}
.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    max-width: 50vw;
    height: 40vw;
    position: relative;
    animation: slideUp 0.3s ease;
    overflow-y: scroll;
}
.modal-header {
    display: flex;
    gap: 1vw;
    align-items: center;
}
.modal-header-img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}
.modal-header-img img {width: 100%;}
.modal-header-description {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.modal-body > p {text-indent: 2vw; text-align: justify;}
.modal-body > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #999;
}
.close:hover {color: #000;}


.fade-in-on-scroll,.fade-in-on-scroll.projects-card  {
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.fade-in-up {transform: translateY(30px);}
.fade-in-down {transform: translateY(-30px);}
.fade-in-left {transform: translateX(-30px);}
.fade-in-right {transform: translateX(30px);}
.fade-in-up.show {opacity: 1;transform: translateY(0);}
.fade-in-down.show {opacity: 1;transform: translateY(0);}
.fade-in-right.show {opacity: 1;transform: translateX(0);}
.fade-in-left.show {opacity: 1;transform: translateX(0);}
  
@media screen and (max-width: 768px) {
    h1 {font-size: 9vw;}
    h2 {font-size: 7vw;}
    h3 {font-size: 5vw;}
    h4 {font-size: 4vw;}
    p, a {font-size: 3vw;}
    .custom-button-container {gap: 2.5vw;}
    .custom-button {
        gap: 1.5vw;
        padding: 1.5vw 3vw;
    }
    .custom-button-outline {
        gap: 1.5vw;
        padding: 1.5vw 3vw;
    }
    .modal-content {
        margin: 10% auto;
        padding: 7.5vw;
        gap: 3vw;
        max-width: 90vw;
        height: 125vw;
    }
    .modal-header {gap: 3vw;}
    .modal-header-img {
        width: 15vw;
        height: 15vw;
    }
    .modal-header-img img {width: 100%;}
    .modal-header-description {gap: 1.5vw;}
    .modal-body {gap: 3vw;}
    .modal-body > p {text-indent: 6vw; text-align: justify;}
    .modal-body > ul {gap: 1.5vw;}
    .close {
        top: 10px;
        right: 20px;
        font-size: 24px;
    }
    .close:hover {color: #000;}
}

/* ========== NAVBAR ========== */
.navbar-container {
    padding: 0 5vw;
    position: fixed;
    top: 1vw;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.95); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4vw;
    width: 100%;
    padding: 0.5vw 0.5vw;
    border: 1px solid #3B82F6;
    border-radius: 50px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.navbar-logo-container {    
    display: block;
    background-color: #3B82F6;
    padding: 0 1vw;
    height: 3vw;
    line-height: 3vw;
    height: 100%;
    width: max-content;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.25vw;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.navbar-logo-container:hover {background-color: #0c69ff;}
.navbar-button-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
}
.navbar-button {
    display: block;
    padding: 0 1vw;
    height: 4vw;
    line-height: 4vw;
    text-decoration: none;
    color: #111827;
    transition: 0.2s;
}
.navbar-button:hover {color: #3B82F6;}
.navbar-button.active {color: #3B82F6;}

.navbar-toggle {
    border: 1px solid #3B82F6;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    line-height: 6vw;
    font-size: 3.5vw;
    font-weight: 600;
    display: none;
    cursor: pointer;
    color: #3B82F6;
}
/* RESPONSIVE NAVBAR */
@media screen and (max-width: 768px) {
    .navbar-container {top: 3vw;}
    .navbar {
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        padding: 1vw 1.5vw;
        border-radius: 5vw;
    }
    .navbar-logo-container {
        font-size: 3vw;
        padding: 1vw 3vw;
        height: auto;
        line-height: initial;
        border-radius: 5vw;
        height: auto;
    }
    .navbar-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-button-container {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1vw;
        gap: 1vw;
    }
    .navbar-button-container.show {display: flex;}
    .navbar-button {
        font-size: 3vw;
        height: auto;
        width: 100%;
        text-align: center;
        line-height: initial;
        padding: 2vw 3vw;
    }
}

/* ========== WELCOME SECTION ========== */
.welcome-section-container {
    background-image: url('assets/icon/Stock Chart.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10vw 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.welcome-section-text {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.image {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32.5vw;
    width: 32.5vw;
    border-radius: 50%;
    overflow: hidden;
}
.image-container > .image > img {width: 30vw;}
/* RESPONSIVE WELCOME */
@media screen and (max-width: 768px) {
    .welcome-section-container {
        padding: 25vw 5vw;
        display: flex;
        flex-direction: column-reverse;
        gap: 10vw;
        align-items: center;
    }
    .welcome-section-text {gap: 2vw;}
    .image {
        height: 80vw;
        width: 80vw;
    }
    .image-container > .image > img {width: 75vw;}
}

/* ========== ABOUT ME SECTION ========== */
.about-me-section-container {
    display: grid;
    grid-template-columns: 30vw auto;
}
.about-me-section-service {
    background-color: aliceblue;
    padding: 5vw;
    display: grid;
    grid-template-columns: 0.3vw 1vw auto;
    grid-template-rows: auto 0.3vw auto 0.3vw auto;
    grid-template-areas: 
        "line1 . service1"
        "round1 . ."
        "line2 . service2"
        "round2 . ."
        "line3 . service3";
    gap: 1vw;
}
.about-me-section-service > div:nth-child(1) {
    grid-area: line1;
    background-color: #3B82F6;
    height: 8.5vw;
}
.about-me-section-service > div:nth-child(2) {
    grid-area: round1;
    background-color: #3B82F6;
    width: 1.25vw;
}
.about-me-section-service > div:nth-child(3) {
    grid-area: line2;
    background-color: #3B82F6;
    height: 8.5vw;
}
.about-me-section-service > div:nth-child(4) {
    grid-area: round2;
    background-color: #3B82F6;
    width: 1.25vw;
}
.about-me-section-service > div:nth-child(5) {
    grid-area: line3;
    background-color: #3B82F6;
    height: 8.5vw;
}
.about-me-section-service > div:nth-child(6) {
    grid-area: service1;
    display: flex;
    gap: 1vw;
    align-items: center;
    height: 8.5vw;
}
.about-me-section-service > div:nth-child(6) > img {width: 4vw;}
.about-me-section-service > div:nth-child(6) > div {font-weight: 500;font-size: 1.25vw;}
.about-me-section-service > div:nth-child(7) {
    grid-area: service2;
    display: flex;
    gap: 1vw;
    align-items: center;
    height: 8.5vw;
}
.about-me-section-service > div:nth-child(7) > img {width: 4vw;}
.about-me-section-service > div:nth-child(7) > div {font-weight: 500;font-size: 1.25vw;}
.about-me-section-service > div:nth-child(8) {
    grid-area: service3;
    display: flex;
    gap: 1vw;
    align-items: center;
    height: 8.5vw;
}
.about-me-section-service > div:nth-child(8) > img {width: 4vw;}
.about-me-section-service > div:nth-child(8) > div {font-weight: 500;font-size: 1.25vw;}
.about-me-section-description {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .about-me-section-container {
        display: flex;
        flex-direction: column;
    }
    .about-me-section-service {
        padding: 20vw 7.5vw;
        padding-bottom: 10vw;
        grid-template-columns: 1vw 3vw auto;
        grid-template-rows: auto 1vw auto 1vw auto;
        gap: 3vw;
    }
    .about-me-section-service > div:nth-child(1) {height: 20vw;}
    .about-me-section-service > div:nth-child(2) {width: 3vw;}
    .about-me-section-service > div:nth-child(3) {height: 20vw;}
    .about-me-section-service > div:nth-child(4) {width: 3vw;}
    .about-me-section-service > div:nth-child(5) {height: 20vw;}
    .about-me-section-service > div:nth-child(6) {
        gap: 3vw;
        height: 20vw;
    }
    .about-me-section-service > div:nth-child(6) > img {width: 12vw;}
    .about-me-section-service > div:nth-child(6) > div {font-weight: 500;font-size: 3.75vw;}
    .about-me-section-service > div:nth-child(7) {
        gap: 3vw;
        height: 20vw;
    }
    .about-me-section-service > div:nth-child(7) > img {width: 12vw;}
    .about-me-section-service > div:nth-child(7) > div {font-weight: 500;font-size: 3.75vw;}
    .about-me-section-service > div:nth-child(8) {
        gap: 3vw;
        height: 20vw;
    }
    .about-me-section-service > div:nth-child(8) > img {width: 12vw;}
    .about-me-section-service > div:nth-child(8) > div {font-weight: 500;font-size: 3.75vw;}
    .about-me-section-description {
        padding: 20vw 5vw;
        padding-top: 10vw;
        gap: 6vw;
    }
}

/* ========== JOURNEY SECTION ========== */
.journey-section-container {
    background-image: url('assets/icon/Wave Line.svg');
    background-size: cover;
    padding: 6vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}
.journey-section-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}
.journey-card-container {
    background-color: rgba(211, 234, 255, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border: 1.5px solid #3B82F6;
    border-radius: 0.5vw;
    padding: 2vw;
}
.journey-card-container > h3 {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.journey-card-container > h3 > div {
    background-color: #3B82F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}
.journey-card-container > h3 > div > svg {
    color: white;
    width: 1.75vw;
    height: 1.75vw;
}
.journey-card {
    padding: 0.75vw;
    display: flex;
    gap: 1vw;
    border-radius: 0.5vw;
    border: 1.5px solid #3B82F6;
    text-align: left;
    background-color: white;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.journey-card:hover {
    transform: translateY(-0.25vw);
    color: #3B82F6;
}
.journey-card-logo {
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.journey-card-logo > img {width: 4vw;}
.journey-card-description {
    display: flex;
    flex-direction: column;
    gap: 0.25vw;
}
@media screen and (max-width: 768px) {
    .journey-section-container {
        padding: 15vw 5vw;
        gap: 7.5vw;
    }
    .journey-section-card-container {
        display: flex;
        flex-direction: column;
        gap: 6vw;
    }
    .journey-card-container {
        gap: 3vw;
        border-radius: 1.5vw;
        padding: 6vw;
    }
    .journey-card-container > h3 {gap: 1.5vw;}
    .journey-card-container > h3 > div {
        height: 9vw;
        width: 9vw;
    }
    .journey-card-container > h3 > div > svg {
        width: 4.75vw;
        height: 4.75vw;
    }
    .journey-card {
        padding: 2.25vw;
        gap: 3vw;
        border-radius: 1.5vw;
    }
    .journey-card:hover {transform: translateY(-0.75vw);}
    .journey-card-logo {
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
    }
    .journey-card-logo > img {width: 12vw;}
    .journey-card-description {
        gap: 0.75vw;
    }    
}

/* ========== SKILLS SECTIONS ========== */
.skills-section-container {
    background: url("assets/icon/Circuit Primary.svg");
    background-position: center;
    background-size: cover;
    padding: 10vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vw;
}
.skills-section-container > h2 {
    text-align: center;
    font-weight: 600;
}
.skills-card-container {
    display: grid;
    grid-template-rows: repeat(8, 3.5vw);
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
        ". skill1 skill1 skill1 skill1 skill2 skill2 skill2 skill2"
        ". skill1 skill1 skill1 skill1 skill2 skill2 skill2 skill2"
        ". skill1 skill1 skill1 skill1 skill2 skill2 skill2 skill2"
        ". skill1 skill1 skill1 skill1 skill2 skill2 skill2 skill2"
        "skill3 skill3 skill3 skill3 skill4 skill4 skill4 skill4 ."
        "skill3 skill3 skill3 skill3 skill4 skill4 skill4 skill4 ."
        "skill3 skill3 skill3 skill3 skill4 skill4 skill4 skill4 ."
        "skill3 skill3 skill3 skill3 skill4 skill4 skill4 skill4 ."
    ;
    gap: 1vw;
}
.skills-description-container {
    background-color: transparent;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-radius: 5px;
    border: 1.75px dashed #3B82F6;
}
.skills-description-container h4 {
    display: flex;
    gap: 1vw;
    align-items: center;
    font-weight: 600;
}
.skills-description-container h4 img {height: 2.5vw;}
.skills-description-container p {
    font-weight: 400;
    font-size: 1.17vw;
}
.skills-description-container:nth-child(1) {grid-area: skill1;}
.skills-description-container:nth-child(2) {grid-area: skill2;}
.skills-description-container:nth-child(3) {grid-area: skill3;}
.skills-description-container:nth-child(4) {grid-area: skill4;}

@media screen and (max-width: 768px) {
    .skills-section-container {
        padding: 25vw 5vw;
        gap: 7.5vw;
    }
    .skills-card-container {
        display: grid;
        grid-template-rows: repeat(8, 17.5vw);
        gap: 3vw;
    }
    .skills-description-container {
        padding: 3vw;
        gap: 3vw;
    }
    .skills-description-container h4 {
        gap: 1.5vw;
    }
    .skills-description-container h4 img {height: 7.5vw;}
    .skills-description-container p {
        font-weight: 400;
        font-size: 3vw;
    }
}
/* ========== PROJECTS SECTION ========== */
.projects-section-container {
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    padding: 5vw;
}
.projects-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
}
.projects-card {
    flex: 1 1 calc(30vw - 2vw);
    max-width: calc(30vw - 2vw);
    background-color: aliceblue;
    border-radius: 0.5vw;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1vw;
    cursor: pointer;
}
.projects-card img {
    width: 100%;
    height: 13.5vw;
    border-radius: 0.5vw;
}
.projects-card h4 {padding-top: 0.5vw;transition: 0.3s;}
.projects-card:hover  {transform: translateY(-0.5vw);}
.projects-card:hover h4 {color: #3B82F6;}

@media screen and (max-width: 768px) {
    .projects-section-container {
        gap: 7.5vw;
        padding: 10vw 5vw;
    }
    .projects-card-container {
        gap: 4vw;
    }
    .projects-card {
        flex: 1 1 calc(45vw - 2vw);
        max-width: calc(45vw - 2vw);
    }
    .projects-card img {
        width: 100%;
        height: 30vw;
        border-radius: 1.5vw;
    }
    .projects-card:hover  {transform: translateY(-1.5vw);}
}
  

/* ========== FOOTER ========== */
.waves {
    height: 100px;
    position: relative;
}
footer .wave {
    width: 100%;
    height: 100px;
    background: url(/assets/icon/wave.png);
    background-size: 1000px 100px;
}
footer #wave1 {
    position: absolute;
    z-index: 1000;
    opacity: 1;
    animation: animateWave 4s linear infinite;
}
footer #wave2 {
    position: absolute;
    z-index: 999;
    opacity: 0.5;
    animation: animateWave_02 3.5s linear infinite;
}
footer #wave3 {
    position: absolute;
    z-index: 1000;
    opacity: 0.2;
    animation: animateWave 3.25s linear infinite;
}
footer #wave4 {
    position: absolute;
    z-index: 999;
    opacity: 0.7;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
.footer-detail-container {
    padding: 2.5vw;
    background-color: #3B82F6;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.footer-detail-container h4 {
    text-align: center;
    color: white;
}
.footer-detail-container  ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-detail-container  ul li {
    display: block;
    margin: 0 0.5vw;
    font-size: 1.5vw;
    transition: 0.4s;
}
.footer-detail-container  ul li:first-child {margin-left: 0;}
.footer-detail-container  ul li:last-child {margin-right: 0;}
.footer-detail-container  ul li a {
    text-decoration: none;
    font-size: 1.5vw;
    color: #ececec;
    transition: 0.4s;
}
.footer-detail-container  ul li:hover a {
    color: #42C2FF;
}
.footer-detail-container  ul li:hover {
    transform: translateY(-0.25vw);
}
@media screen and (max-width: 768px) {
    .footer-detail-container {
        padding: 7.5vw;
        gap: 3vw;
    }
    .footer-detail-container  ul li {
        margin: 0 1.5vw;
        font-size: 4.5vw;
    }
    .footer-detail-container  ul li a {
        font-size: 4.5vw;
    }
    .footer-detail-container  ul li:hover {
        transform: translateY(-1vw);
    }
}